/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/tachyons.css";

 
*, *:before, *:after {
  box-sizing: inherit;
}
body {
   overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
}
.container {
}
